body {
    
    font-family: 'Montserrat', sans-serif;
}

header{
    background-size: cover;
    background-position: center;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
}

#navegacion {
    list-style: none;
    font-size: larger;
    margin-left: 2%;
    margin-top: 1%;
}

#inicio {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: normal;
    max-width: 800px;
    margin-top: 1%;
    margin-left: 40%;
}

#blog{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: bold;
    max-width: 800px;
    margin-top: 1.5%;
    margin-left: 3%;
}

#navegacion li {
    display: inline-block;
    padding: 0;
}

#navegacion a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
#navegacion a:hover{
    color: rgb(0, 0, 0);
    text-align: "center"
}

h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    max-width: 800px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 1%;
}

h2{
    color: rgb(0, 0, 0);
    max-width: 800px;
    margin: auto;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
}

div#bajadaGeneral {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: center;
    max-width: 800px;
    margin: auto
}

h2#G2{
    
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 2%;
}

h2#G3{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 3%;
}

div#chart, #chart2, #chart3 {
    overflow-y: auto;
    max-width: 800px;
    margin: auto;
}
div#chart {
    width: 40%;
}

div#chart2{
    width: 58%;
    height: 58%;
}

#bajadaMapa, #bajadaG2, #bajadaG3{
    max-width: 800px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    
}

p#explicacion{
    max-width: 800px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #856ca7;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 5%;
}

footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    margin-top: 2%;  
}

#icono{
    max-width: 150px;
    max-height: 140px;
    margin-bottom: 2%;
}

